@import "tailwindcss";

@theme {
  --color-background: #EBE6DF;
  --color-foreground: #1A1A1A;
  --color-accent: #6A1A28;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    overflow-x: hidden;
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  ::selection {
    background-color: var(--color-accent);
    color: var(--color-background);
  }
}